#grid-container {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-columns: 1fr 3fr 1fr;
}

#sidebar {
    grid-row: 1 / 4;
}

#navbar {
    grid-column: 2 / 4;
}

#maincontent {
    grid-row: 2 / 4;
    grid-column: 2 / 3;
}