* {
    font-family: 'Roboto' , serif;
}

body {
    margin: 0;
}

#grid-container {
    display: grid;
    grid-template-columns: minmax(120px, 200px) 4fr 1fr;
}

    #sidebar {
        grid-row: 1 / 4;
        background-color: #0081a7;
        display: grid;
        grid-template-rows: 80px 350px 150px;
    }

        #dashboardTitle {
            display: grid;
            grid-template-columns: 50px 1fr;
            color: rgb(255, 255, 255);
        }

            #dashboardText {
                align-self: center;
            }

            #dashboardTitle > img {
                width: 30px;
                height: 30px;
                justify-self: center;
                align-self: center;
            }

        #sidebar>div>div {
            display: grid;
            grid-template-columns: 1fr 5fr;
        }
            #sidebar>div>div>i {
                align-self: center;
                justify-self: center;
            }

            #sidebar>div>div:hover {
                scale: 1.05;
                cursor: pointer;
            }

    #navbar {
        grid-column: 2 / 4;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

        #searchbar {
            align-self: center;
            justify-self: center;
            margin: 10px;
        }

            #searchbar > i:hover {
                cursor: pointer;
            }

            #searchbar > input {
                width: 500px;
                border-radius: 20px;
                border: 1px solid grey;
                height: 25px;
            }

        #navButtons {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

            .navBtn {
                margin: 20px;
                border-radius: 20px;
                cursor: pointer;
                font-weight: 500 !important;
                font-size: 15px;
                padding: 5px;
            }

            .navBtn:hover {
                scale: 1.05;
            }

    #maincontent {
        grid-row: 2 / 4;
        grid-column: 2 / 3;
    }

        #maincontent>h1 {
            margin: 25px;
        }

        #projects {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }

            .project {
                padding: 10px;
                margin: 25px;
            }

    #announcements, #trending {
        display: grid;
        grid-template-rows: 50px minmax(260px , 4fr);
        margin: 30px;
        padding: 10px;
        border-radius: 15px;
    }

        #announcementsContent {
            display: grid;
            grid-template-rows: repeat(3, 70px);
            gap: 10px;
        }

            .announcement{
                display: grid;
                grid-template-columns: 20px 1fr;
                grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
                height: 70px;
                border-bottom: 1px solid rgba(124, 124, 124, 0.664);
                padding-left: 10px;
            }

                .announcement>i {
                    grid-column: 1/2;
                    grid-row: 1/2;
                    align-self: center;
                }

                .announcement>i:hover{
                    cursor: pointer;
                }
            
                .announcementSub {
                    display:inline-block;
                    width: 240px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 15px;
                    color: grey;
                }

                .announcementHead:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }

                .announcementHead {
                    align-self: center;
                }
                
                .announcement>p {
                    margin: 0px;
                    height: 20px;
                }
        
    #trendingContent {
        display: grid;
        grid-template-rows: repeat(3, 80px);
        gap: 10px;
    }

        .trContent {
                    display: grid;
                    grid-template-columns: 60px 100px 70px;
                    grid-template-rows: 60px;
                    gap: 10px;
                }
            
            .contentImg {
                display: grid;
                justify-items: center;
                align-items: center;
                cursor: pointer;
            }

            .contentNames>p {
                font-size: 13px;
                margin: 6px;
            }

            .contentNames>p:hover {
                text-decoration: underline;
                cursor: pointer;
            }

            .profileNameTrAt {
                font-weight: bold;
            }

            .followBtn {
                height: 50%;
                align-self: center;
                border-radius: 20px;
                border: 1px solid gray;
                cursor: pointer;
            }

            .followBtn:hover {
                background-color: rgb(231, 231, 231);
            }
h1 {
    font-size: 20px;
}

/* colors */

#announcements, #trending, #navbar , .project{
    background-color: #eaeaea;
    color: black;
}

#sidebar {
    background-color: #83C5BE;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

#sidebar > div > div> i {
    color: black;
}

.project {
    border-left: 10px solid #83C5BE;
    border-radius: 10px;
    box-shadow: 2px 2px 10px grey;
}

#grid-container, #searchbar > input {
    background-color: white;
}

#maincontent {
    color: black;
}

#announcements, #trending {
    border-top: 10px solid #83C5BE;
}

.navBtn {
    background-color: #83C5BE;
    border: none;
    font-weight: bold;
    color: white;
}

.contentImg {
    background-color: rgba(223, 223, 223, 0.533);
    border-radius: 50%;
}